* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1250px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.main-container{
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px 10px;
  gap: 20px;
  width: 100%;
}

.countryList{
  width: 250px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}

.countryInfo{
  width: 500px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
}
